USE [master]
GO
/****** Object:  Database [user7]    Script Date: 14.12.2021 15:44:28 ******/
CREATE DATABASE [user7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\user7.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'user7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\user7_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user7]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 14.12.2021 15:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[IdАгента] [int] IDENTITY(1,1) NOT NULL,
	[Тип агента] [nvarchar](255) NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Электроннаяпочтаагента] [nvarchar](255) NULL,
	[Телефонагента] [nvarchar](255) NULL,
	[Логотип агента] [nvarchar](255) NULL,
	[Юридический адрес] [nvarchar](255) NULL,
	[Приоритет] [float] NULL,
	[Директор] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[КПП] [float] NOT NULL,
	[IdПродукции] [int] NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[IdАгента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSale]    Script Date: 14.12.2021 15:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSale](
	[IdПродавПродукц] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [nvarchar](255) NULL,
	[Наименование агента] [nvarchar](255) NULL,
	[Дата реализации] [datetime] NULL,
	[Количество продукции] [float] NULL,
	[IdПродукции] [int] NULL,
 CONSTRAINT [PK_ProductSale] PRIMARY KEY CLUSTERED 
(
	[IdПродавПродукц] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsShort]    Script Date: 14.12.2021 15:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsShort](
	[IdПродукции] [int] IDENTITY(1,1) NOT NULL,
	[Наименование продукции] [nvarchar](255) NULL,
	[ Тип продукции] [nvarchar](255) NULL,
	[ Артикул] [float] NULL,
	[ Количество человек для производства] [float] NULL,
	[ Номер цеха производства] [float] NULL,
	[ Минимальная цена для агента] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductsShort] PRIMARY KEY CLUSTERED 
(
	[IdПродукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([IdАгента], [Тип агента], [Наименование агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [IdПродукции]) VALUES (1, N'МКК', N'CибБашкирТекстиль', N'vzimina@zdanova.com', N'(495)285-78-38', N'\agents\agent_69.png', N'429540, Мурманская область, город Воскресенск, пл. Славы, 36', 218, N'Григорий Владимирович Елисеева', 7392007090, 576103661, NULL)
INSERT [dbo].[Agents] ([IdАгента], [Тип агента], [Наименование агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [IdПродукции]) VALUES (2, N'МКК', N'CибГаз', N'inna.sarova@panfilov.ru', N'(495)945-37-25', N'\agents\agent_103.png', N'365674, Архангельская область, город Серебряные Пруды, пр. Ленина, 29', NULL, N'Вячеслав Романович Третьякова', 6483417250, 455013058, NULL)
INSERT [dbo].[Agents] ([IdАгента], [Тип агента], [Наименование агента], [Электроннаяпочтаагента], [Телефонагента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП], [IdПродукции]) VALUES (3, N'ЗАО', N'CибПивОмскСнаб', N'evorontova@potapova.ru', N'+7(922)153-95-22', N'\agents\agent_46.png', N'816260, Ивановская область, город Москва, ул. Гагарина, 31', 477, N'Людмила Александровна Сафонова', 5676173945, 256512286, NULL)
GO
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSale] ON 

INSERT [dbo].[ProductSale] ([IdПродавПродукц], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции], [IdПродукции]) VALUES (1, N'Попрыгунчик детский желтый 6678', N'CибБашкирТекстиль', CAST(N'2018-09-15T00:00:00.000' AS DateTime), 6, NULL)
INSERT [dbo].[ProductSale] ([IdПродавПродукц], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции], [IdПродукции]) VALUES (2, N'Шар 4124', N'CибБашкирТекстиль', CAST(N'2016-11-27T00:00:00.000' AS DateTime), 6, NULL)
INSERT [dbo].[ProductSale] ([IdПродавПродукц], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции], [IdПродукции]) VALUES (3, N'Попрыгунчик детский розовый 5376', N'CибПивОмскСнаб', CAST(N'2017-06-07T00:00:00.000' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductSale] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductsShort] ON 

INSERT [dbo].[ProductsShort] ([IdПродукции], [Наименование продукции], [ Тип продукции], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [ Минимальная цена для агента]) VALUES (1, N'Попрыгунчик детский красный 1289', N' Для маленьких деток', 82925345, 4, 10, N' 1919.00 ')
INSERT [dbo].[ProductsShort] ([IdПродукции], [Наименование продукции], [ Тип продукции], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [ Минимальная цена для агента]) VALUES (2, N'Попрыгунчик детский желтый 6678', N' Для больших деток', 80007300, 2, 1, N'1768')
INSERT [dbo].[ProductsShort] ([IdПродукции], [Наименование продукции], [ Тип продукции], [ Артикул], [ Количество человек для производства], [ Номер цеха производства], [ Минимальная цена для агента]) VALUES (3, N'Попрыгунчик детский 6888', N' Для маленьких деток', 13875235, 4, 12, N'1972')
SET IDENTITY_INSERT [dbo].[ProductsShort] OFF
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [FK_Agents_ProductSale] FOREIGN KEY([IdПродукции])
REFERENCES [dbo].[ProductSale] ([IdПродавПродукц])
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [FK_Agents_ProductSale]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_ProductsShort] FOREIGN KEY([IdПродукции])
REFERENCES [dbo].[ProductsShort] ([IdПродукции])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_ProductsShort]
GO
USE [master]
GO
